.lesson-card {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #00ced1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  mat-card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #333333;
  }
  
  mat-card-content p {
    font-size: 1em;
    color: #666666;
  }
p{
    color:crimson;
}  