<div class="modal-header">
  <h5 class="modal-title">רשימת השיעורים</h5>
  <button type="button" class="close" (click)="dialogRef.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  @if(lessons.length>0) {
    <ul>
      @for(lesson of lessons;track lesson) {
        <li>
          {{ lesson.title }}
          <span class="material-icons icon" (click)="DeleteLesson(lesson.id)">delete</span>
          <span class="material-icons icon" (click)="updateLessonDialog(lesson)">edit</span>
          <span class="material-icons icon" (click)="getLessonAllDialog(lesson.title, lesson.content)">visibility</span>
        </li>
      }
    </ul>
  } @else {
    <p>אין שיעורים זמינים.</p>
  }
</div>

<span class="material-icons add-icon" (click)="openAdLessoneDialog()">add_circle</span>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="dialogRef.close()">סגור</button>
</div>
