
<h2>Add New Course</h2>
<form [formGroup]="addCourseForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Course Title</mat-label>
    <input matInput formControlName="title" placeholder="Enter course title">
    @if(addCourseForm.get('title')?.hasError('required') && addCourseForm.get('title')?.touched) {
      <mat-error>Title is required.</mat-error>
    }
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Course Description</mat-label>
    <textarea matInput formControlName="description" placeholder="Enter course description"></textarea>
    @if(addCourseForm.get('description')?.hasError('required') && addCourseForm.get('description')?.touched) {
      <mat-error>Description is required.</mat-error>
    }
  </mat-form-field>
  
  <button mat-raised-button color="primary" type="submit" [disabled]="addCourseForm.invalid">
    Add Course
  </button>
</form>
