<h2>All Courses</h2>
@for(course of currentCourses; track course){
  <div class="course">
    <h2>{{ course.title }}</h2>
    <p>{{ course.description }}</p>
    <div class="buttons">
      <!-- אייקון הצטרפות -->
      <span class="icon material-icons join-icon" (click)="join(course.id)">person_add</span>

      <!-- אייקון יציאה -->
      <span class="icon material-icons exit-icon" (click)="exit(course.id)">logout</span>

      <!-- אייקון עדכון -->
      <span class="icon material-icons update-icon" (click)="openUpdateCourseDialog(course, course.id)">edit</span>

      <!-- אייקון מחיקה -->
      <span class="icon material-icons delete-icon" (click)="deleteCourse(course.id)">delete</span>

      <!-- אייקון צפייה בשיעורים -->
      <span class="icon material-icons lessons-icon" (click)="openDialogleLessonList(course.id)">visibility</span>
    </div>
  </div>
}

<!-- כפתור הוספת קורס -->
<div class="add-course-button">
  <span class="icon material-icons add-icon" (click)="openAddCourseDialog()">add_circle</span>
</div>
