.avatar {
    position: absolute;      /* מיקום מוחלט */
    top: 20px;               /* 20 פיקסלים מהחלק העליון */
    left: 20px;              /* 20 פיקסלים מהצד השמאלי */
    background: linear-gradient(135deg, #333, #555);
    color: #40E0D0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    margin: 20px auto;       /* אם יש צורך, אפשר להסיר margin כדי למקם במדויק */
    transition: transform 0.3s ease, background 0.3s ease, color 0.3s ease;
    margin-bottom: 20px;

  }
  .auth-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  .avatar:hover {
    transform: scale(0.85);
    background: linear-gradient(135deg, #40E0D0, #008080);
    color: black;
  }
  .register {
    margin-bottom: 20px;
  }