<div class="auth-container">
  <div class="auth-box">
      @if(isLogin==true) {
          <h1>🌟 ברוך הבא! 🌟</h1>
          <div class="avatar">
              <span class="avatar-text">{{avattarletter}}</span>
          </div>
          <p>איזה כיף שחזרת! 🎉</p>
      } 
      @if(isLogin==false) {
          <h1>🎓 ברוך הבא לאתר שלנו!</h1>
          <p>התחבר או הירשם כדי להתחיל ללמוד 🚀</p>
          <div class="register-container">
              <app-sign class="register" (signSubmit)="handleSignSubmit($event)"></app-sign>
              <app-login class="register" (loginSubmit)="handleLoginSubmit($event.email,$event.password)"></app-login>
          </div>
      }
      <button (click)="nevigateCourse()" [disabled]="isLogin==false">🔑 כניסה</button>
  </div>
</div>
